.li-popup.li-popup-enter#li-enter-popup.mfp-hide
	header.li-popup__header АВТОРИЗАЦИЯ
	.li-popup__body
		form.li-form(action="#")
			label.li-form-label
				span.li-form-label-name E-mail:
				input.li-form-input(type="text", name="name")
			label.li-form-label
				span.li-form-label-name Пароль:
				input.li-form-input(type="text", name="pass")

			.li-form__reg
				a(href="#") Забыли пароль
				a(href="#") Подать заявку на регистрацию

			.li-form__socials
				p Войти через социальную сеть (для комментариев)
				ul.li-form__socials-list
					li
						a(href="#").sp-icon.enter-fb
					li
						a(href="#").sp-icon.enter-vk

					li
						a(href="#").sp-icon.enter-twi
					li
						a(href="#").sp-icon.enter-in
					li
						a(href="#").sp-icon.enter-ok
					li
						a(href="#").sp-icon.enter-mw

			.li-form__buttons
				button.button.button-mini.button-l-blue ОТПРАВИТЬ
				button.button.button-mini.button-l-blue ОТМЕНА

.li-popup.li-popup-subject#li-subject-popup.mfp-hide
	header.li-popup__header Выбор новостей по сюжету
	.li-popup__body.tabs-wrapper
		ul.subjects-slider.tabs__list
			li.tabs__item.tabs__item--active.subjects-slide
				a.tabs__link(href='#item1') новости рынка кредитования
			li.tabs__item.subjects-slide
				a.tabs__link(href='#item2') новости рынка банков
			li.tabs__item.subjects-slide
				a.tabs__link(href='#item3') новости законодательства
			li.tabs__item.subjects-slide
				a.tabs__link(href='#item4') Оценочная компания
			li.tabs__item.subjects-slide
				a.tabs__link(href='#item5') Кредитный брокер
			li.tabs__item.subjects-slide
				a.tabs__link(href='#item6') Корпоративные новости

		.subject-range#subject-range

		ul.tabs__content.subject-content#subject-content
			- var news = ['Новости БайкалБанк', 'Новости Абсолют Банк', 'Новости Абсолют Банк', 'Новости АК БАРС Банк', 'Новости БайкалБанк', 'Новости БайкалБанк', 'Новости Балтинвестбанк', 'Новости Банк "Русь"', 'Новости Банк "Аверс"', 'Корпоративные новости'];

			li#item1.tabs__item.subject-content-item
				- for (var i=0; i < 3; i++)
					each item in news
						label
							input(type="checkbox")
							span= item

			li#item2.tabs__item.hidden.subject-content-item
				- for (var i=0; i < 2; i++)
					each item in news
						label
							input(type="checkbox")
							span= item
			li#item3.tabs__item.hidden.subject-content-item
				- for (var i=0; i < 4; i++)
					each item in news
						label
							input(type="checkbox")
							span= item
			li#item4.tabs__item.hidden.subject-content-item
				- for (var i=0; i < 5; i++)
					each item in news
						label
							input(type="checkbox")
							span= item
			li#item5.tabs__item.hidden.subject-content-item
				- for (var i=0; i < 1; i++)
					each item in news
						label
							input(type="checkbox")
							span= item
			li#item6.tabs__item.hidden.subject-content-item
				- for (var i=0; i < 3; i++)
					each item in news
						label
							input(type="checkbox")
							span= item
	.li-popup-subject__footer.text-right
		a(href="#") сбросить выбор
		a(href="#").button.button-mini.button-l-blue применить

.li-popup.li-popup-email#li-popup-email.mfp-hide
	header.li-popup__header Данный email уже подписан на новостную рассылку

.li-popup.li-popup-blog-sbscr#li-popup-blog-sbscr.mfp-hide
	header.li-popup__header Подписка на новые сообщеия в блоге ипотека и не только - взгляд со стороны
	.li-popup__body
		form.li-form(action="#")
			label.li-form-label
				span.li-form-label-name E-mail:
				input.li-form-input(type="text", name="name")
			
			.li-form__buttons.text-right
				button.button.button-mini.button-l-blue OK
				button.button.button-mini.button-l-blue ОТМЕНА

.li-popup.li-popup-message#li-message-person-popup.mfp-hide
	header.li-popup__header александр савинов - отправить сообщение
	.li-popup__body
		form.li-form(action="#")
			label.li-form-label
				span.li-form-label-name Тема сообщения:
				input.li-form-input(type="text", name="name")
			label.li-form-label
				span.li-form-label-name Сообщение:
				textarea(name="name", cols="30", rows="10").li-form-area

			.li-form__buttons.text-center
				button.button.button-mini.button-l-blue отправить

.li-popup.li-popup-message#li-message-company-popup.mfp-hide
	header.li-popup__header Ипотечный бумеранг - отправить сообщение
	.li-popup__body
		form.li-form(action="#")
			label.li-form-label
				span.li-form-label-name Тема сообщения:
				input.li-form-input(type="text", name="name")
			label.li-form-label
				span.li-form-label-name Сообщение:
				textarea(name="name", cols="30", rows="10").li-form-area

			.li-form__buttons.text-center
				button.button.button-mini.button-l-blue отправить